:root {
    --responsive-mobile: 360px;
    --responsive-tablet: 768px;
    --responsive-desktop: 992px;
    --responsive-large-desktop: 1200px;

    --primary-color: #3C87D1;
    --primary-color-1: rgb(35, 118, 216);
    --tertiary-color: #69B4F1;
    --secondary-color: #8BC9C5;
    --white-color: #fff;
}

p {
    margin: 0;
}

.logo {
    width: 50px;
}

.nav-container {
    /* height: 30vh;
    background-color: var(--tertiary-color);; */
    background-color: transparent;
}

.navbar {
    padding: 0px 20px;
    /* align-content: flex-start; */
}

.nav-right {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.navbar-nav li {
    margin-bottom: 4px;
    margin-right: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: var(--primary-color-1);
    padding: 28px 32px;
    color: var(--white-color);
    width: 100%;
}

.quote-icon {
    font-size: 3em;
    margin-bottom: 1em;
}

.quote-title {
    margin-bottom: 1em;
}

.quote-btn {
    margin-top: 5em;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
}

.quote-get-a {
    text-transform: uppercase;
}

.services {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    color: var(--primary-color);
    width: 80%;
    padding: 1em;
}

.services-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 8px 10px 0px #bbbbbb;
}



.services-desc {
    font-size: 12px;
}

.services-title {
    font-size: 20px;
}

.services-btn {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}

.services-icon {
    font-size: 2em;
    margin-bottom: 14px;
}

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.welcome-header {
    padding: 20px 32px;
    background-color: var(--primary-color-1);
    color: #fff;
}

.welcome-body {
    padding: 32px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.welcome-body-features {
    margin: 3em 0 4em;
}

.welcome-body-features-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}


.welcome-body-features-icon {
    margin-bottom: 10px;
    font-size: 32px;
}

.welcome-body-strong {
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-body-link {
    color: var(--white-color);
}

@media screen and (min-width: 1280px) {
    .nav-container {
        height: 30vh;
        background-color: var(--tertiary-color);;
    }

    .main {
        flex-direction: row;
        align-items: flex-start;
        padding: 0 30px;
        margin-top: -100px;
    }

    .quote {
        width: 500px;
        border-radius: 5px;
        box-shadow: 2px 8px 10px 0px #bbbbbb;
        padding: 30px 30px 50px 30px;
    }

    .quote-title {
        font-size: 20px;
    }

    .services {
        grid-template-columns: repeat(2, minmax(200px, 300px));
        padding: 0 1em;
    }

    .welcome {
        border-radius: 5px;
        overflow: hidden;
    }

    .welcome-body-features {
        margin: 1em 0 1em;
    }

    .welcome-body-features-item {
        flex-direction: row;        
    }

    .welcome-body-features-icon {
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .btn-hub {
        color: var(--white-color);
        border-color: var(--white-color);
    }
    
    .btn-logout {
        background-color: var(--primary-color-1);
    }
}
